apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: fetch-supplier-data-pipeline-new  # Updated name
  namespace: <your-namespace>  # Specify your application namespace
spec:
  entryPoint: main
  templates:
    - name: main
      type: custom
      spec:
        runtime: python:3.8
        entryPoints:
          main:
            command: ["python", "fetch_suppliers.py"]
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
